<div class="container">
  <img class="img-responsive center-block about-pic" src="../images/about-pic.jpg" alt="Carlie">
    <!-- <img class="img-responsive me-images" src="../images/DSC06668-2.jpg" alt="Carlie"> -->
    <!-- <img class="img-responsive me-images" src="../images/DSC06667.jpg" alt="Carlie"> -->
  <div class="about text-center">
    <i>Hi there, I'm Carlie - hapa, Californian, unprofessional photographer, and web developer.</i><br><br>
    My entry into and passion for programming was much like the $20 you found in your pocket. Unexpected and terribly exciting. With my "$20" in hand, I dove into General Assembly's Web Development Immersive program after graduating from Pepperdine University, dedicating myself to over 400 hours of learning numerous web development languages and technologies.<br><br>

    A curious soul with an eagerness to grow, I approach opportunities with flexibility and an open mind. I bring right brain creativity and left brain analytics to balance in my work, keenly focusing on the smaller details and producing quality work. As I venture into the development world, I am anxious to build upon the knowledge I have already gained and am driven by a passion to make a positive impact in this world, as cliche as that sounds.<br><br>

    I'm ready to hit the ground running.<br><br>

    <p class="tech-skills">Technical Skills: <br>
      HTML5 // JavaScript // CSS3 // Sass // Ruby // Rails // jQuery // Bootstrap // Git // GitHub // Trello // NodeJS // Express // MongoDB // Mongoose // OAuth // Microsoft Word, PowerPoint, & Excel // APIs // AngularJS // Heroku // Materialize // Socket.io
    </p>

    <p><a href="../file/design_resume_v1.pdf" download="Resume_CarlieClippinger.pdf" class="btn btn-default">Download my resume</a></p>

  </div>
</div>


