<div class="contact-div container">

  <h4 class="text-center">Contact</h4>
  <p class="contact-text text-center">Want to get in touch? Fill out the form below or reach me directly at <a href="mailto:carliesachiko@gmail.com?Subject=Hey%20Carlie" target="_top">carliesachiko@gmail.com</a>.</p>

  <div class="contact-div container">
    <form id="contact-form" role="form" novalidate>
      <div class="form-group">
          <label for="name">Name:</label>
          <input class="form-control" type="text" id="name" name="name" required="" data-validation-required-message="Please enter your name.">
      </div>

      <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="email" id="email" name="email" required="" data-validation-required-message="Please enter your email address.">
      </div>

      <div class="form-group">
          <label for="subject">Subject:</label>
          <input class="form-control" type="text" id="subject" name="subject" required="" data-validation-required-message="Please enter a subject.">
      </div>

      <div class="form-group">
          <label for="message">Message:</label>
          <textarea class="form-control" rows="6" id="message" name="message" required="" data-validation-required-message="Please enter your message."></textarea>
      </div>

      <div class="field">
          <button type="submit" class="btn btn-default submit-btn" id="submit">Send</button>
      </div>
    </form>
    <br>
    <!-- Ajax response -->
    <div id="contact-response" class="ajax-response font-alt"></div>
  </div>

</div>

<!-- Mailer Script -->
<script src="../js/mailer.js"></script>
<!-- Bootstrap Validation Script -->
<script src="../js/jqBootstrapValidation.js"></script>
