<div class="contact-div container row center-block">
  <div class="col-md-6">
    <img src="../images/documented/IMG_9806.JPG" alt="Contact Carlie" width="350">
  </div>
  <div class="col-md-6">
    <h4 class="">Contact</h4>
    <p class="contact-text">Want to get in touch? You can reach me directly at <a href="mailto:carliesachiko@gmail.com?Subject=Hey%20Carlie" target="_top">carliesachiko@gmail.com</a>.</p>
    <br>
    <p class="contact-text">I'm also on <a href="https://www.linkedin.com/in/carlieclippinger" target="blank">LinkedIn</a>, <a href="https://instagram.com/carliesachiko" target="blank">Instagram</a>, and <a href="https://github.com/CarlieSachiko" target="blank">GitHub</a>.</p>
  </div>
<!--   <div class="contact-div container">
    <form id="ajax-contact" method="post" action="mailer2.php" class="contact-form">
      <div class="form-group">
          <label for="con_name">Name:</label>
          <input class="form-control" type="text" id="con_name" name="con_name" required>
      </div>

      <div class="form-group">
          <label for="con_email">Email:</label>
          <input class="form-control" type="email" id="con_email" name="con_email" required>
      </div>

      <div class="form-group">
          <label for="con_subject">Subject:</label>
          <input class="form-control" type="text" id="con_subject" name="con_subject" required>
      </div>

      <div class="form-group">
          <label for="con_message">Message:</label>
          <textarea class="form-control" rows="6" id="con_message" name="con_message" required></textarea>
      </div>

      <div class="field">
          <button type="submit" class="btn btn-default submit-btn" id="con_submit">Send</button>
      </div>
    </form>
    <br>
    <div id="form-messages"></div>
  </div> -->

</div>

<script src="../js/mailer.js"></script>
