<div class="container">
  <p class="text-center"><i>When I got my first camera it took hold of me like a bad boyfriend.</i> <br>Here I share the glimpses of the documented things of my life, my travels, and my people, the things that come together to make me, me.</p>
</div>
<br>
<div id="documented">
  <div class="doc-imgs">
    <div><img src="../images/documented/IMG_6264.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6369-1.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6381-2.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6812-1.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6856.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8802.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8779.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8782.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8784.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8795.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8788.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8789.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8790.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8792.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8800.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8895.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_8899.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6435-2.JPG" alt="" class="doc-img img-responsive"></div>
    <div><img src="../images/documented/IMG_6279-1.JPG" alt="" class="doc-img img-responsive"></div>
  </div>
  <div class="sm-doc-imgs">
    <div><img src="../images/documented/IMG_6264.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6369-1.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6381-2.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6812-1.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6856.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8802.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8779.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8782.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8784.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8795.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8788.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8789.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8790.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8792.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8800.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8895.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_8899.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6435-2.JPG" alt="" class="img-responsive"></div>
    <div><img src="../images/documented/IMG_6279-1.JPG" alt="" class="img-responsive"></div>
  </div>
</div>

<script>
  $('.doc-imgs').slick({
    // dots: true,
    infinite: true,
    speed: 600,
    slidesToShow: 9,
    centerMode: true,
    variableWidth: true,
    autoplay: true,
    autoplaySpeed: 3000
  });
</script>
